# Tuple

In [7]:
# List----> n no. of data.....
# Tuple-----> n no. of data ....

# list----> int
# tuple----int of tuple

x = (8,34,89,90,78,56,-90,-34)

In [8]:
print(x)

(8, 34, 89, 90, 78, 56, -90, -34)

In [9]:
type(x)

tuple

In [10]:
#tuple of string
d = ('123','hello','bhai','kaise ho')
d

('123', 'hello', 'bhai', 'kaise ho')

In [11]:
type(d)

tuple

In [12]:
#mix----> int,string,......
x = (23,45,89.9,34.34,'Python','SQL',False)
x

(23, 45, 89.9, 34.34, 'Python', 'SQL', False)

In [13]:
type(x)

tuple

In [14]:
#slicing with the help of indexing.
x

(23, 45, 89.9, 34.34, 'Python', 'SQL', False)

In [18]:
print(x[2])

89.9

In [21]:
x[3:6]

(34.34, 'Python', 'SQL')

In [22]:
x

(23, 45, 89.9, 34.34, 'Python', 'SQL', False)

In [23]:
x[::2]

(23, 89.9, 'Python', False)

In [24]:
x[::2]

(23, 89.9, 'Python', False)

In [25]:
x[0:7:2]

(23, 89.9, 'Python', False)

In [26]:
print(hrello)

NameError: name 'hrello' is not defined

In [29]:
print('False')

False

In [31]:
a=False
# print(a)
print(type(a))

<class 'bool'>

In [32]:
b='False'
type(b)

str

In [33]:
if a==b:
    print("ye code op hai bhai")
else:
    print("pta ni bhai kya code likha hai")

pta ni bhai kya code likha hai

In [34]:
x

(23, 45, 89.9, 34.34, 'Python', 'SQL', False)

In [36]:
# changing the data.....
x[0]=786

TypeError: 'tuple' object does not support item assignment

In [37]:
#Tuple----->
# empty tuple
# single element tuple

a = ()
a

()

In [38]:
type(a)

tuple

In [41]:
a = (1,)
a

(1,)

In [42]:
type(a)

tuple

In [43]:
a = 12,89,67,34,90,99,-23,23.7

In [44]:
a

(12, 89, 67, 34, 90, 99, -23, 23.7)

In [45]:
a

(12, 89, 67, 34, 90, 99, -23, 23.7)

In [46]:
len(a)

8

In [47]:
min(a)

-23

In [48]:
max(a)

99

In [ ]:
# [34,89,67,12,2,90,9,0,-2,23,45]
# empty list
# single element list

In [50]:
x = []
print(x)

[]

In [51]:
type(x)

list

In [52]:
x = [1]
print(x)

[1]

In [53]:
type(x)

list

In [54]:
#tuple -----> immutable
a

(12, 89, 67, 34, 90, 99, -23, 23.7)

In [55]:
a=([12,45,89,34,78,90])

In [56]:
a

[12, 45, 89, 34, 78, 90]

In [57]:
type(a)

list

In [58]:
a=(12,45,89,[34,78,90])

In [59]:
a[0]

12

In [60]:
a[0]=121

TypeError: 'tuple' object does not support item assignment

In [61]:
a

(12, 45, 89, [34, 78, 90])

In [63]:
a[3]=0

TypeError: 'tuple' object does not support item assignment

In [64]:
a

(12, 45, 89, [34, 78, 90])

In [70]:
a[3][2]=900

In [71]:
a

(12, 45, 89, [34, 78, 900])

In [72]:
a=(1,2,6)

In [73]:
a

(1, 2, 6)

In [74]:
type(a)

tuple

In [75]:
#wap to add a element in tuple ?
a = (1,2,6)
b=(9,)
result = a+b
result

(1, 2, 6, 9)

In [76]:
#concatenation
a=(1,2,3)
b=(3,4,5)
c = a+b
c

(1, 2, 3, 3, 4, 5)

In [77]:
#repetaion
a

(1, 2, 3)

In [79]:
a*2
# sq the a
# 2 is mul by a
# repeat the data

(1, 2, 3, 1, 2, 3)

In [84]:
#count & index
x = [34,89,67,12,2,90,9,0,-2,23,45,0]

In [85]:
x

[34, 89, 67, 12, 2, 90, 9, 0, -2, 23, 45, 0]

In [87]:
#count
x.count(1)

0

In [91]:
#index
x.index(34)

0

In [92]:
#string----> tuple
# convert a string into tuple.

a =[2,4,6,8]
a[0],a[1]=a[1],a[0]

In [93]:
a

[4, 2, 6, 8]

In [94]:
a = 'hello'
b = tuple(a)

In [95]:
b

('h', 'e', 'l', 'l', 'o')

In [96]:
type(b)

tuple

In [97]:
type(a)

str