In [7]:
#list
# tuple
# Dict

a={
    'name':'xyz',
    'age':23,
    'marks':90
}
print(a)

{'name': 'xyz', 'age': 23, 'marks': 90}

In [21]:
#wap to make a dict of emp having name ,age & salary.
x = {
    'name':'ABC',
    'age':34,
    'salary':40000
}
x

{'name': 'ABC', 'age': 34, 'salary': 40000}

In [22]:
x

{'name': 'ABC', 'age': 34, 'salary': 40000}

In [23]:
# slicing with the indexing.
type(x)

dict

In [24]:
#dict have no index.
s = [23,34,56]
s[0]

23

In [27]:
# but we can perform slicing(a kind of)
x[['salary','age']]

TypeError: unhashable type: 'list'

In [26]:
x[['salary']['age']]

<>:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
<>:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
C:\Users\Satyam\AppData\Local\Temp/ipykernel_11964/3322048515.py:1: SyntaxWarning: list indices must be integers or slices, not str; perhaps you missed a comma?
  x[['salary']['age']]

TypeError: list indices must be integers or slices, not str

In [28]:
x['salary']

40000

In [30]:
#mutable & immutable
x['name']='xyz'

In [31]:
x

{'name': 'xyz', 'age': 34, 'salary': 40000}

In [36]:
x = {
    'name':['ABC','Shobhit','Akkash'],
    'age':[34,45,56],
    'salary':[40000,3]
}
x

{'name': ['ABC', 'Shobhit', 'Akkash'],
 'age': [34, 45, 56],
 'salary': [40000, 3]}

In [37]:
x = {
    'name':['ABC','Shobhit','Akkash'],
    'age':(34,45,56),
    'salary':[40000,3]
}
x

{'name': ['ABC', 'Shobhit', 'Akkash'],
 'age': (34, 45, 56),
 'salary': [40000, 3]}

In [38]:
x['name']

['ABC', 'Shobhit', 'Akkash']

In [41]:
x['name'][1:]

['Shobhit', 'Akkash']

In [42]:
x['age']

(34, 45, 56)

In [43]:
x['age'][1]

45

In [45]:
x['name'] = 4

In [47]:
x['name']

4

In [48]:
x = {
    'name':['ABC','Shobhit','Akkash'],
    'age':(34,45,56),
    'salary':[40000,3]
}
x

{'name': ['ABC', 'Shobhit', 'Akkash'],
 'age': (34, 45, 56),
 'salary': [40000, 3]}

In [51]:
x['name'][1]='sobit bro likhna band kar bhai'

In [52]:
x

{'name': ['ABC', 'sobit bro likhna band kar bhai', 'Akkash'],
 'age': (34, 45, 56),
 'salary': [40000, 3]}

In [57]:
x['age'][2]=65

TypeError: 'tuple' object does not support item assignment

In [61]:
#let's make a dict inside a dic
x = {
    'name':'ghj',
    'age':34,
    'salary':34892,
    
    'z':{
        'number':123,
        'add':'UP'
    }
    
}

In [62]:
x

{'name': 'ghj', 'age': 34, 'salary': 34892, 'z': {'number': 123, 'add': 'UP'}}

In [64]:
x = {
    'name':'ghj',
    'age':34,
    'salary':34892,
    0:0,
    
    'z':{
        'number':123,
        'add':'UP',
        0:'hello'
    }
    
}

In [65]:
x

{'name': 'ghj',
 'age': 34,
 'salary': 34892,
 0: 0,
 'z': {'number': 123, 'add': 'UP', 0: 'hello'}}

In [66]:
x = {
    'name':'ghj',
    'age':34,
    'salary':34892,
    0:0,
    '1':'0',
    
    'z':{
        'number':123,
        'add':'UP',
        0:'hello',
        '1':1,
        '1':'12367'
    }
    
}

In [67]:
x

{'name': 'ghj',
 'age': 34,
 'salary': 34892,
 0: 0,
 '1': '0',
 'z': {'number': 123, 'add': 'UP', 0: 'hello', '1': '12367'}}

In [73]:
x['z'][0]

'hello'

In [74]:
#method
# keys
x

{'name': 'ghj',
 'age': 34,
 'salary': 34892,
 0: 0,
 '1': '0',
 'z': {'number': 123, 'add': 'UP', 0: 'hello', '1': '12367'}}

In [75]:
x.keys()

dict_keys(['name', 'age', 'salary', 0, '1', 'z'])

In [76]:
#value
x.values()

dict_values(['ghj', 34, 34892, 0, '0', {'number': 123, 'add': 'UP', 0: 'hello', '1': '12367'}])

In [77]:
# items
x.items()

dict_items([('name', 'ghj'), ('age', 34), ('salary', 34892), (0, 0), ('1', '0'), ('z', {'number': 123, 'add': 'UP', 0: 'hello', '1': '12367'})])

In [78]:
#len
# min
# max

len(x)

6

In [81]:
#max

s = {
    'low':[23,34,78,9,45],
    'high':[89,90,66,34]
    
}
max(s)

'low'

In [85]:
a = s['low']

In [86]:
a

[23, 34, 78, 9, 45]

In [87]:
max(a)

78

In [88]:
min(a)

9

In [89]:
max(s['low'])

78

In [91]:
min(s['low'])

9

In [92]:
# task find the len of z.
x

{'name': 'ghj',
 'age': 34,
 'salary': 34892,
 0: 0,
 '1': '0',
 'z': {'number': 123, 'add': 'UP', 0: 'hello', '1': '12367'}}

In [95]:
len(x['z'])

4

In [ ]:
#update