In [6]:
#for loop
# loop

# 1-10
for i in range(2,11,2):
    print(i)

2
4
6
8
10

In [14]:
a =[2,3,4,90,99,12]
var = 1
for t in a:
    var=var*t
print(var)

2566080

In [15]:
#string
a = ['hello','bhai','I','am','chill op!']
a

['hello', 'bhai', 'I', 'am', 'chill op!']

In [16]:
for i in a:
    print(i)

hello
bhai
I
am
chill op!

In [19]:
# Write a Python program to add an item in a tuple.

a = ('hello',)
b= ('bhai',)
c=a+b
c

('hello', 'bhai')

In [20]:
type(c)

tuple

In [22]:
# Write a Python program to convert a tuple to a string.
x = (1234,"get on the dance floor")
y = str(x)
y

"(1234, 'get on the dance floor')"

In [23]:
y

"(1234, 'get on the dance floor')"

In [24]:
type(y)

str

In [25]:
list(y)

['(',
 '1',
 '2',
 '3',
 '4',
 ',',
 ' ',
 "'",
 'g',
 'e',
 't',
 ' ',
 'o',
 'n',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'd',
 'a',
 'n',
 'c',
 'e',
 ' ',
 'f',
 'l',
 'o',
 'o',
 'r',
 "'",
 ')']

In [26]:
tuple(y)

('(',
 '1',
 '2',
 '3',
 '4',
 ',',
 ' ',
 "'",
 'g',
 'e',
 't',
 ' ',
 'o',
 'n',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'd',
 'a',
 'n',
 'c',
 'e',
 ' ',
 'f',
 'l',
 'o',
 'o',
 'r',
 "'",
 ')')

In [28]:
# # #find the 2nd largest num from the list.
# # a=[78,90,67,45,23,99]
# maximum of two no. and minimum of two no. in a list ...sir ye wala
# #

a = [230,89]
if a[0]>a[1]:
    print(a[0],"is greater")
else:
    print(a[1],"is grteater")

230 is greater

In [30]:
a = [230,89,34,78,45,36]
for i in a:
    
    print(i)

230
89
34
78
45
36

In [31]:
x = [1,3,2,90,56,34]
max1 = x[0]
for i in x:
    if (i>max1):
        max1 = i
max1 
x.remove(max1)
max1 = x[0]
for i in x:
    if (i>max1):
        max1 = i
print(max1)

56

In [37]:
a = [23,45,67,789,90]
a.remove(789)

In [35]:
a

[23, 45, 67, 90]

In [40]:
#tuple ---- slicing
a = (23,45,67,789,90)

In [41]:
a

(23, 45, 67, 789, 90)

In [42]:
a[2]

67

In [43]:
a[2:5]

(67, 789, 90)

In [44]:
a[:]

(23, 45, 67, 789, 90)

In [45]:
a[0:]

(23, 45, 67, 789, 90)

In [46]:
a[:5]

(23, 45, 67, 789, 90)

In [49]:
# program to remove an item from a tuple.
a = (23,45,67,789,90)
x = a[:3]

In [50]:
y = a[4:]

In [51]:
z = x+y
z

(23, 45, 67, 90)

In [52]:
a = (23,45,67,789,90)
b = list(a)
b

[23, 45, 67, 789, 90]

In [53]:
b.pop()

90

In [54]:
b

[23, 45, 67, 789]

In [57]:
n = tuple(b)

In [58]:
type(n)

tuple

In [59]:
n

(23, 45, 67, 789)

In [60]:
a = (23,45,67,789,90)
a.index(67)

2

In [61]:

f = 25,45,"hina",6.25,True
f[-1:-6:-1]

(True, 6.25, 'hina', 45, 25)

In [62]:
f

(25, 45, 'hina', 6.25, True)

In [63]:
f[::-1]

(True, 6.25, 'hina', 45, 25)

In [64]:
# # [1,2,3,(67,90)]
# k=2
# (2,6,8,12,90,90,90,66,66)
# Removing duplicates from tuple.


a = (2,6,8,12,90,90,90,66,66)
x = set(a)
x

{2, 6, 8, 12, 66, 90}

In [69]:
# Python – Adding Tuple to List and vice – versa.

a = [1,2,3]
b=('hello')
a.append(b)
a

[1, 2, 3, 'hello']

In [70]:
a

[1, 2, 3, 'hello']

In [76]:
a = [(2,6,8,10)]
b = list(a)
b


# k =2 
# for i in b:
#     if k % i == 0:
#         print("divisible")
#     else:
#         print("ND")

[(2, 6, 8, 10)]

In [77]:
# add tuple in list
k = ["anup","meena",3.2]
k += (5,25,84,"hemant"),
k

['anup', 'meena', 3.2, (5, 25, 84, 'hemant')]